/* Project Page Styles */
body {
  color: var(--color-text);
}

.btn-back-home {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 2px solid var(--color-accent);
  color: var(--color-accent);
  text-decoration: none;
  font-family: var(--primary-font);
  margin: 1.5rem;
}

.project-page h2 {
  margin: 1.5rem 0;
}

.project-hero h2 {
  text-decoration: underline;
}

.project-page p {
  margin: 1rem;
  font-size: 1.2rem;
  color: var(--color-subtext);
  max-width: 500px;
  line-height: 1.6;
}

.project-overview p {
  color: var(--color-text);
}

.project-overview p span {
  font-weight: var(--semi-bold-text);
  color: var(--color-accent);
}

section,
.project-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.project3-stack {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .project3-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
}

.project3-tags {
  margin: 1rem;
}

.project3-tags .tag {
  padding: 1rem;
  margin: 0.5rem;
  border: 2px solid var(--color-text);
}

.project3-stack li,
.project-learnings-list li {
  font-size: clamp(1rem, 2vw + 0.5rem, 2rem);
  line-height: 1.6;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project3-item i,
.project-learnings-list li i {
  margin-right: 0.5rem;
  color: var(--color-accent);
}

figure {
  max-width: 1200px;
  margin: 2rem;
}

figure img {
  width: 100%;
  height: auto;
  max-width: 100%;
  display: block;
  border-radius: 8px;
}

figcaption {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: var(--color-subtext);
}
