footer {
  font-weight: 300;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: var(--main-red);
  border-top: 4px solid var(--main-black);
}

.social-media__icons-container {
  display: flex;
  margin-left: 3rem;
}

.social-media__icons-container a {
  width: 50px;
  text-align: center;
  margin-right: 1.5rem;
  padding: 1rem;
  font-size: 2rem;
  color: var(--white);
  border-radius: 8px;
  background-color: var(--main-black);
}

.footer-logo {
  margin: 0 3rem 0 1.5rem;
  font-family: var(--font-emphasize);
  color: var(--white);
}
.footer-logo span {
  color: var(--main-black);
  margin-left: 2px;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
