footer {
  font-weight: 300;
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background: var(--main-red);
  border-top: 4px solid var(--main-black);
}

.social-media-icons-container {
  display: flex;
}

.social-media-icons-container a,
.cv-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 65px;
  height: 65px;
  text-align: center;
  font-size: 3rem;
  color: var(--white);
  border-radius: 8px;
  background-color: var(--main-black);
  cursor: pointer;
}

.social-media-icons-container a {
  margin-right: 1rem;
}

.footer-logo {
  font-family: var(--font-emphasize);
  color: var(--white);
}
.footer-logo span {
  color: var(--main-black);
  margin-left: 0.5rem;
}

@media (max-width: 18.625em) {
  footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .footer-logo {
    margin-top: 1rem;
  }
}
