:root {
  /* COLORS */
  --main-black: #080404;
  --main-blue: #45567d;
  --main-gray: #303841;
  --main-red: #e1261c;
  --main-light-gray: #999;
  --white: #fdffff;
  --bg-tooltip: #999;
  --cv-color-gray: #312f2f;
  --green: #0bab43;

  /* FONT FAMILY */
  --font-primary: 'Gentium Plus', serif;
  --font-emphasize: 'Inknut Antiqua', serif;

  /* ALTERNITIVE FONT SIZE */
  --h1: 4rem;
  --h2: 2.5rem;
  --h3: 2rem;
  --h4: 1.5rem;
  --p: 1.3rem;
  --project-icons: 3rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

body {
  font-family: var(--font-primary);

  line-height: 1.4;
}

h1,
h2 {
  font-weight: 700;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 3.5rem;
}

img {
  display: block;
  width: 100%;
}

button {
  border: none;
}
